// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.v-list-item__content >div{
	white-space: normal;
}

html,
body {
   overflow-x: hidden !important;
   overflow-y: auto;
   -webkit-overflow-scrolling: touch;
   .v-application {
      font-family: $font-family-base !important;
      font-weight: $font-weight-bold;
   }
}
